body { 
    padding: 0px;
    margin-top:0;
    background-color: rgb(255, 255, 255);

}
/* div that holds login and sign up buttons */
.top{
    width:auto;
    height:60px;
    background-color: white;
    
}
/*makes the buttons and text go side by side*/
.top > * {
    display:inline-block

}

/*Wayward software logo at the top left*/
.top p{
    font-size: 25px;
    margin:5px;
    margin-left:15px;
    color: rgb(255, 102, 0);
}
/*login and sign up buttons*/
.top button{
    position:relative;
    float:right;
    margin:8px;
    border-radius: 5px;
    padding-left:17px;
    padding-right:17px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-width: 0px;  
}
/*adds style */
#signup_btn{
    background: blue;
    color:white
}

#header_logo_div{
    margin:0px;
    height:330px;
    width:auto;
    background:  #012a38;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 100px;
    font-family: Sora,sans-serif;
}
/*makes the wayward software text in the home img bigger*/
#bigger{
    font-weight:bold;
    font-size: 2.8em;
}

/*container that holds options class*/
.gallery{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #f1f4f6;
    justify-content: center;
}
/*div that holds the subscription option text*/
.option_header{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width:100%;
    font-size: 2rem;
    color:#192232
}
/*subscription option divs*/
.options{
    background: rgb(255, 255, 255);
    color:#192232;
    width:250px;
    height:180px;
    flex-wrap: wrap;
    border-radius: 2px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    text-align: center;
    padding:10px;
    border:solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 2%;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.05);
}
.soft_name{
    font-size: 1.325rem;
    font-weight: bold;
}
footer{
    height: 100px;
    background:  #012a38;
}