<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wayward Software</title>
        <style>
            main{
                background:white;
                padding:80px;
            }
            .container{
                border:1px solid;
                margin-left: auto;
                margin-right:auto;
                width:80%;
                padding:10px;
                padding-bottom:30px;
                padding-top:10px;
            }
        </style>
    </head>

{% extends 'wayward_software/base1.html' %}
{% block content %}
<body>
    <main>
        <a href="../employee">Back</a>
        <div class="container">
            <h2>Client List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <!-- Add other user attributes you want to display -->
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.username }}</td>
                            <td>{{ client.email }}</td>
                            <!-- Add other user attributes you want to display -->
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No clients found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
{% endblock %}
