<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wayward Software</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            main{
                background: white;
                padding:80px;
            }
          
            @media screen and (min-width: 800px) {
                .container{
                    width:680px;
                }
            }
            button{
                display:inline-block;
            }
            main h1{
                text-align:center;
                margin-top:0px;
            }
        </style>
    </head>
    {% extends 'wayward_software/base1.html' %}
    {% block content %}


    <body>
        <main>
            <a href="../../employee">Back</a>
            <div class="container">
                <h4>Update package details</h4>
                    <!-- Create a Form -->
                <form method="POST">
                    <!-- Security token by Django -->
                    {% csrf_token %}
            
                    <!-- form as paragraph -->
                    {{ form }}
            
                    <input type="submit" value="Update">
                </form>
            </div>
        </main>
    </body>
    {% endblock %}
</html>