<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Wayward Software</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}  
    <link href="{% static 'css/homeStyle.css' %}" rel="stylesheet">  
  </head>

<body>
  <main>
    <div id ="top_nav">
        <h1>WELCOME TO WAYWARD SOFTWARE</h1>
        <a href= sign_up.html><button id="signup_btn">Sign up</button></a>
        <a href="log_in.html"><button>Log in</button></a>
    </div>
      
    <div class="header">
        <img src="{% static '/logo.png' %}" height(100%)>
      </div>
    </div>

    <div class="navbar">
      <a href="#">Pakage Info</a>
      <a href="#">Prices</a>
      <a href="#" class="right">About the Company</a>
    </div>
    <div class="wrapper">
      <div class="row">
        <div class="side">Wayward software was created for any company small or large. Don't worry all prices are fair. check
          down below to see the packages we offer.
        </div>
      </div>
        <div class="gallery">
          <div class="option_header">
              <p>Explore our subscription options.</p>
          </div>
          <div class="option_subheader">
            <p></p>
          </div>
          <div class="options">
              <p class="option_name">Lorem ipsum</p>
              <p class="soft_desc">Aliquam quis lorem at mauris pretium convallis ut sed justo. Nunc accumsan, nibh id luctus vestibulum vitae interdum tellus justo a libero.</p>
          </div>
          <div class="options">
              <p class="option_name">Dolor sit</p>
              <p class="soft_desc">Suspendisse placerat vulputate eros a ornare. Suspendisse elementum felis vel est accumsan vehicula.</p>
          </div>
          <div class="options">
              <p class="option_name">Ut interdum</p>
              <p class="soft_desc">Praesent elit risus, auctor id nisi sed, bibendum placerat diam. Praesent scelerisque vulputate tincidunt. </p>
          </div>
          <div class="options">
              <p class="option_name">Elit risus</p>
              <p class="soft_desc">Vel congue massa turpis ornare ipsum.  Nam nibh neque, egestas ut lorem auctor, molestie elementum sem.</p>
          </div>
          <div>
            <p class="option_header">Don't see anything you like? </p>
            <a href="custom_request.html">
              <div class= "options request">
                <p class="option_name"> We'll build you custom software.  </p>
                <p>Don't miss out, make a request now</p>
              </div>
            </a>
          </div>
    </div>
  </main>

  <footer>
    <h2>Footer</h2>
  </footer>
  </body>
</html>